
<!-- <h2>User Profile Page</h2> -->

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      	<%= @user.name %>
      </h1>
      <p> <%= @user.email %>
      <%  if @user.id == current_user.id %>
        <p> <%= link_to('Modifier',  edit_user_path, class: "btn btn-lg btn-primary") %> </p>
      <%end%>
    </section>
  </aside>
</div>

<h2> Evénements organisés </h2>

      <table class="table table-hover">
  		<tr>
	    	<th>Nom de l'événement</th>
	    	<th>Date</th>
	    	<th>Lieu</th>
	   		<th></th>
	   		<th></th>
 	 	 </tr>


     <% @user.created_events.each do |event| %>
   		<tr>
   		<td> <%= event.title %> </td>
   		<td> <%= event.date.strftime("%d/%m/%Y") %> </td>      <!-- source : https://www.ruby-forum.com/topic/82271 -->
   		<td> <%= event.place %> </td>
   		<td> <%= link_to('Afficher', event_path(event)) %> </td>
      <%  if @user.id == current_user.id %>
   		 <td> <%= link_to('Modifier Event', edit_event_path(event)) %> </td>
      <%end%>
   		</tr>
   		<% end %>
    </table>

<br>

<h2>
  Events auxquels
  <% if @user.id == current_user.id%>
      <%="vous participez"%>
  <%else%>
    <%="il participe"%>
  <% end %>
</h2>

  <table class="table table-hover">
	<tr>
  	<th>Nom de l'événement</th>
  	<th>Date</th>
  	<th>Lieu</th>
 		<th></th>
 		<th></th>
 	 </tr>

 <% @user.attended_events.each do |event| %>
   <% if event.date > Date.today %>
   		<tr>
     		<td> <%= event.title %> </td>
     		<td> <%= event.date.strftime("%d/%m/%Y")  %> </td>     <!-- source : https://www.ruby-forum.com/topic/82271 -->
     		<td> <%= event.place  %> </td>
     		<td> <%= link_to('Afficher', event_path(event)) %> </td>

   		</tr>
    <% end %>
 	<% end %>
</table>

<br>

<h2>
  Events passés auxquels
  <% if @user.id == current_user.id%>
      <%="vous avez participez"%>
  <%else%>
    <%="il a participe"%>
  <% end %>
</h2>
  <table class="table table-hover">
		<tr>
    	<th>Nom de l'événement</th>
    	<th>Date</th>
    	<th>Lieu</th>
   		<th></th>
   		<th></th>
	 	 </tr>


   <% @user.attended_events.each do |event| %>
     <% if event.date < Date.today %>
   		<tr>
        <td> <%= event.title %> </td>
        <td> <%= event.date.strftime("%d/%m/%Y") %> </td>   <!-- source : https://www.ruby-forum.com/topic/82271 -->
        <td> <%= event.place  %> </td>
   		</tr>
      <% end %>
 		<% end %>
  </table>
