<table class="table table-hover">
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th>Date</th>
    <th>Lieu</th>
    <th>créé par</th>
    <th>Action</th>
  </tr>

<%@events.each do |event|%>
<tr>
  <td><%= event.title %></td>
  <td><%= event.description %></td>
  <td><%= event.date %></td>
  <td><%= event.place %></td>
  <td><%= link_to(event.creator.name, user_path(event.creator.id) ) %></td>
  <td><%=link_to("Voir", '#')%></td>
</tr>

<%end%>

</table>
