<div class="row">

    <section class="user_info">
      <div class="Event-creator">
        <h4>Evenement créé par <%= current_user.name%></h4>
      </div>
      <h1><%= @event.title %></h1>
    </section>

    <div class="event_description">
      <h2><%= @event.description %></h2>
    </div>

    <h3>L'évènement aura lieu à <%= @event.place %></h3>
    <h3> Le <%= @event.date %> </h3>

    <br />
    <%= link_to "Modifier", edit_event_path, class: "btn btn-lg btn-primary" %>

</div>
